.u-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  margin: -1px !important;
  white-space: nowrap !important;
}

.u-visible-when-focused:focus {
  position: fixed !important;
  top: var(--space-1) !important;
  left: var(--space-1) !important;
  clip: auto !important;
  width: auto !important;
  height: auto !important;
  overflow: visible !important;
  white-space: normal !important;
  margin: auto !important;
}
